#banner{
	background:url('../images/yujia/banner.jpg') no-repeat;
	background-size:cover;
	background-position:center bottom;
	position:relative;

	.bannerCont{
		padding-top:36%;
		padding-bottom:35%;
		display:flex;
		-webkit-flex-direction:column;
		flex-direction:column;
		
		h2{
			font-size:0.68rem;
			color:#ffffff;
		}
		h3{
			font-size: 0.48rem;
			color:#ffffff;
			margin-top:0.1rem;
		}

		a{
			display: block;
			margin-top:0.2rem;
			font-size:0.24rem;
			width:2rem;
			height:0.52rem;
			line-height: 0.52rem;
			color:#fff;
			background:#e74f58;
			border-radius:0.15rem;
			text-align: center;
		}
	}
}