html{
	font-size:100px;
}
html,body{
	font-family:$global-font-family;
}
li{list-style:none;}
a{ text-decoration:none; cursor:pointer;}
ul,dl,li,dt,dd,h1,h2,h3,p{
	margin:0;
	padding:0;
}

.content{
	max-width:11rem;
	margin:0 auto;
	position:relative;
}
